###############################################################################
#
#   Environment variables file. Used to store sensitive data - tokens/passes.
#
#   This is a sample file for the [Courts Info Service: Telegram Bot].
#   Use the file name for configuration: .env.<env name>
#
#   Warning! Do not commit .env* files to git repository!
#
#   Created:  Dmitrii Gusev, 06.10.2022
#   Modified: Dmitrii Gusev, 05.11.2022
#
###############################################################################

# telegram API token
API_TOKEN=<token>

# MySql settings
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=<DB name>
MYSQL_USER=<user>
MYSQL_PASS=<password>
